/* 
=========
Variables
========
*/
:root {
  /* primary shades */
  --clr-primary-1: hsl(205, 69%, 19%);
  --clr-primary-2: hsl(205, 71%, 23%);
  --clr-primary-3: hsl(205, 69%, 29%);
  --clr-primary-4: #49a6e9;
  --clr-primary-5: hsl(205, 65%, 69%);
  --clr-primary-6: hsl(205, 65%, 71%);
  /* grey shades */
  --clr-grey-1: hsl(205,69%,17%);
  --clr-grey-2: hsl(211,23%,34%);
  --clr-grey-3: hsl(209,34%,39%);
  --clr-grey-4: hsl(210,22%,49%);
  --clr-grey-5: hsl(212, 36%,84%);
  --clr-grey-6: hsl(210,33%,96%);
  /* secondary shades*/
  --clr-secondary-1: hsl(181, 100%, 19%);
  --clr-secondary-2: hsl(182, 91%, 21%);
  --clr-secondary-3: hsl(183, 71%, 23%);
  --clr-secondary-4: hsl(185, 95%, 25%);
  /* secondary shades */
  --clr-secondary-5: #28cab2;
  --clr-secondary-6: hsl(181, 85%, 65%);
  --clr-secondary-7: hsl(181, 81%, 69%);
  --clr-secondary-8: hsl(185, 71%, 69%);
  --clr-secondary-9: hsl(183, 80%, 75%);
  --clr-secondary-10: hsl(181, 68%, 70%);
  /* other colors */
  --clr-dark-red: hsl(360, 67%, 44%);
  --clr-light-red: hsl(360, 44%, 67%);
  --clr-dark-green: hsl(125, 67%, 44%);
  --clr-light-green: hsl(125,44%, 67%);
  --clr-pink: #f28cab;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-gold: #c59d5c;
  --clr-lime: #fc5d65;
  --clr-dodger: #4eacdc;
  --ff-primary:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Roboto sans','sans-serif';
  --ff-secondary: 'monospace', 'sans-serif';
  --spacing: .2rem;
  --radius: .5rem;
  --transition: all .3s linear;
  --shadow-1: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.6);
  --shadow-2: 0 6px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 2px -1px rgba(0, 0, 0, 0.6);
  --shadow-3: 0 10px 15px -3px rgba(0,0,0,0.1),0 6px 4px -3px rgba(0, 0, 0, 0.5);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

/* 
=============
GLOBAL STYLES
=============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
body {
  font-size: .875rem;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  background: var(--clr-grey-6);
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
  line-height: 1.25;
  margin-bottom: .75rem;
  text-transform: capitalize;
}
h1{
  margin-top: 0;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: .875rem;
}
p {
  margin-bottom: 1.5rem;
  color: var(--clr-grey-4);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem; 
  }
  h3 {
    font-size: 2rem;
  }
  h4{
    font-size: 1rem
  }
  body {
    font-size: 1rem
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: .6;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1)
  }
}
@keyframes humburger_puls {
   0% {
    transform: scale(1);
  }
  50% {
    opacity: .4;
    transform: scale(1.4);
  }
  100%  {
    transform: scale(1);
  }
}
/* 
==============
GLOBAL CLASSES
==============
*/
.section {
  padding: 5rem 0;
}
.section-center {
  width:90vw;
  margin: o auto;
  max-width: var(--max-width); 
}
@media screen and (min-width: 992px){
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  place-items: center;
  display: grid;
}
.btn {
  cursor: pointer;
  font-size: 1.2rem;
  transition: var(--transition);
  color: var(--clr-white);
  background: var(--clr-secondary-1);
  border-radius: var(--radius);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  width: 10rem;
  letter-spacing: var(--spacing);
  padding: .375rem .75rem;
}
.btn:hover {
  background: var(--clr-secondary-4);
}
nav {
  padding: 1rem 1.5rem;
  background: var(--clr-white);
  box-shadow: var(--shadow-4);
}
.nav-center {
  width: 90vw;
  max-width:var(--max-width);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header h4 {
  animation: bounce 3s ease-in-out infinite;
}
.nav-header span {
  color: var(--clr-secondary-5);
}
.nav-toggle {
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.1rem;
  color:var(--clr-secondary-5);
  border-radius: var(--radius);
}
.nav-toggle:hover {
  transform: rotate(90deg);
  color: var(--clr-black);
}
.links-container {
  height: 0px;
  overflow:hidden;
  transition: var(--transition);
}
.links a {
  color: var(--clr-secondary-2);
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
  padding: 1rem;
  display: block;
  letter-spacing: var(--spacing);
  font-family: var(--ff-primary);
  letter-spacing: 2px;
  font-weight: 700;
}
.links a:hover {
  padding-left: 1.5rem;
  background: var(--clr-secondary-10);
}
.social-links {
  display:none;
}
@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: none;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links  {
    display: flex;
    justify-items: center;
  }
  .links a:hover {
    background: transparent;
    padding-left: none;
    color: var(--clr-secondary-5);
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-links a {
    color: var(--clr-secondary-1);
    margin-left: .5rem;
    transition: var(--transition)
  }
  .social-iconsa a:hover {
    color: var(--clr-secondary-5);
  }
}
.lds-dual-ring {
  width: 80px;
  height: 80px;
  display: inline-block;
}
.lds-dual-ring:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid var(--clr-white);
  border: var(--clr-white) transparent var(--clr-white) transparent;
  animation: lds-dual-ring 1.2s linear infinite; 
}
@keyframes lds-dual-ring {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
==========
hackerNews
==========
*/

/* Search-Form */
.search-form {
  width: 90vw;
  max-width: var(--fixed-width);
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}
.form-input {
  width: 10rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transtiion);
  cursor: pointer;
  display: block;
  border: 2px solid var(--clr-secondary-5);
  padding: .375rem .75rem;
}
/* button */
.btn-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  max-width: var(--max-width);
  margin-bottom: 1.5rem;
  align-items: center;
}
.btn-container  p{
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.page-btn {
  margin: 1rem;
  background: var(--clr-secondary-1);
  text-transform: capitalize;
  font-size: 1.1rem;
  transition: var(--transitio);
  cursor: pointer;
  color: var(--clr-white);
  border-radius: var(--radius);
  padding: .25rem .5rem;
  font-weight: bold;
}
.btn-container .page-btn:disabled {
  cursor: not-allowed;
} 
.stories {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  width: 90vw;
  max-width: var(--max-width);
  margin-bottom: 5rem;
}
@media screen and (min-width: 992px) {
  .stories {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    display: grid;
  }
}
.story {
  padding:  1rem 2rem;
  background: var(--clr-white);
  border-radius: vr(--radius);
  box-shadow: var(--shadow-4);
  transition: var(--transition);
}
.title {
  margin-bottom: .25;
  line-height: l.5;
}
.info {
  margin-bottom: .5rem;
  color: var(--clr-grey-4);
}
.read-link {
  color: var(--clr-secondary-1);
  transition: var(--transition);
  cursor: pointer;
  text-transform: capitalize;
  font-size: .75rem;
  background: transparent;
  letter-spacing: 2px;
  margin-right: .65rem;
}
.read-link:hover {
  color: var(--clr-secondary-4);
}
.remove-btn {
  color: var(--clr-lime);
  cursor: pointer;
  transition: var(--transition);
  font-size: .75rem;
  background: transparent;
  letter-spacing: 2px;
  text-transform: capitalize;
  border: none;
}
.remove-btn:hover {
  color: var(--clr-light-red);
}